
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    border:  0;
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}

html, body {
    width:            100%;
    height:           100%;
    font-family:      'Roboto', sans-serif;
}

header {
    width:            100%;
    height:           350px;


    background-color: rgb(60, 150, 0);
}

#section-1 {
    height:           250px;
    display:          flex;
    align-items:      center;
    justify-content:  center;
}
#section-2 {
    border-top:       2px solid white;
    height:           100px;
    
    display:          flex;
    align-items:     center;
    justify-content: space-evenly;
}

button {
    width:            130px;
    height:           45px;
    font-size:        17.5px;
    border-radius:    8px;
    background-color: transparent;
    border:           2px solid white;
}
button:hover {
    transform:        scale(1.1);
    transition:       0.4s;
}


body { background-color: rgb(102, 255, 0); }

#container {
    width:            100%;
    min-height:       100vh;
    height:           auto;
    display:          flex;
    flex-wrap:        wrap;
    justify-content:  space-evenly;
    gap:              15px;
}

.card {
    width:            300px;
    height:           400px;
    border:           2px solid white;
    border-radius:    8px;
    overflow:         hidden;
    background-color: rgb(102, 255, 0);
}
.card:hover {
    transform:        scale(1.1);
    transition:       0.6s;
}

img {
    width:            100%;
    max-width:        80rem;
    height:           200px;
}

.itens {
    height:           200px;
    display:          flex;
    flex-direction:   column;
    justify-content:  space-evenly;
    padding:          0 4px;
    text-align:       center;
}

.Nome {
    font-weight:      400;
    font-size:        22px;
}
.Habilidade {
    font-weight:      400;
}
.Descricao {
    font-weight:      400;
}
.Temporada {
    font-weight:      400;
}


main {
    width:            100%;
    max-width:        1300px;
    height:           auto;
    margin:           0 auto;
    padding:          15px;
}

footer {
    width:            100%;
    height:           100px;
    background-color: rgb(60, 150, 0);
    display:          flex;
    align-items:      center;
    justify-content:  center;
    text-align:       center;
}

footer p { font-size: 16px; }
